body {
  display: flex;
  align-self: center;
  flex-direction: column;
}

#app {
  align-self: center;
  margin-top: 20px;
}
#buttondiv {
  display: flex;
  justify-content: center;
}
button {
  display: none;
}
#nav {
  display: flex;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgb(82, 67, 67);
  box-shadow: 3px rgb(11, 9, 9);
}
#pic {
  margin-top: 60px;
  width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 600px),
  (max-width: 1100px) {
  body {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }
  #pic {
    margin-top: 60px;
    width: 100%;
  }

  #buttondiv {
    display: flex;
    justify-content: center;
  }
  button {
    display: block;
    margin-top: 50px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
